/* green path style */
 button[class*="pathPanelButton"][style="background-color: rgb(0, 0, 10);"]
 { color: white!important; background-color: rgba(154, 205, 50, 0.75)!important;font-size:larger!important; border-radius: 8px!important; }
 button[class*="pathPanelButton"][style="background-color: rgb(0, 0, 10);"]:hover
 { background-color: rgba(154, 205, 50, 1)!important; }
 
 /* red path style */
 button[class*="pathPanelButton"][style="background-color: rgb(0, 0, 20);"]
 { color: #900b0b!important;background-color: white!important;font-size: larger!important;border-radius: 8px!important;box-shadow: inset 0px 0px 0px 2px #900b0b;
 }
 button[class*="pathPanelButton"][style="background-color: rgb(0, 0, 20);"]:hover
 { background-color: lightgrey!important}
 
/* blue path style  */
 button[class*="pathPanelButton"][style="background-color: rgb(0, 0, 30);"]
 { color: white!important; background-color: rgba(7, 150, 221, 0.75)!important;font-size:larger!important; border-radius: 8px!important;}
 button[class*="pathPanelButton"][style="background-color: rgb(0, 0, 30);"]:hover
 { background-color: rgba(7, 150, 221, 1)!important; }
 
/* Gray path style  */
 button[class*="pathPanelButton"][style="background-color: rgb(0, 0, 40);"]
 { color: black!important; background-color: #fdfdfd!important;font-size:larger!important; border-radius: 8px!important;}
 button[class*="pathPanelButton"][style="background-color: rgb(0, 0, 40);"]:hover
 { background-color: #ededed!important; }

/* Yellow path style  */
 button[class*="pathPanelButton"][style="background-color: rgb(0, 0, 50);"]
 { color: black!important; background-color: rgba(255, 224, 0, 0.75)!important;font-size:larger!important; border-radius: 8px!important;}
 button[class*="pathPanelButton"][style="background-color: rgb(0, 0, 50);"]:hover
 { background-color: rgba(255, 224, 0, 1)!important; }

/* Black path style  */
 button[class*="pathPanelButton"][style="background-color: rgb(0, 0, 60);"]
 { color: white!important; background-color: rgba(0, 0, 0, 0.75)!important;font-size:larger!important; border-radius: 8px!important;}
 button[class*="pathPanelButton"][style="background-color: rgb(0, 0, 60);"]:hover
 { background-color: rgba(0, 0, 0, 1)!important; }
 
/* Purple path style  */
 button[class*="pathPanelButton"][style="background-color: rgb(0, 0, 70);"]
 { color: white!important; background-color: rgba(209, 171, 229, 0.75)!important;font-size:larger!important; border-radius: 8px!important;}
 button[class*="pathPanelButton"][style="background-color: rgb(0, 0, 70);"]:hover
 { background-color: rgba(209, 171, 229,  1)!important; }
 
/* Orange path style  */
 button[class*="pathPanelButton"][style="background-color: rgb(0, 0, 80);"]
 { color: black!important; background-color: rgba(255, 164, 53, 0.75)!important;font-size:larger!important; border-radius: 8px!important;}
 button[class*="pathPanelButton"][style="background-color: rgb(0, 0, 80);"]:hover
 { background-color: rgba(255, 164, 53, 1)!important; }

